div.upload div#container{
	background: #F6F6F6;
	color: #2B2B2B;
	padding: 20px;
	width: 594px;
	text-align: center;
	margin-top: 25px;
	margin-right: 0px;
}
div.upload{
	margin-left: auto;
	margin-right: auto;
	width: 49%;
}
div.upload div#container li{
	list-style: none;
	margin: 10px;
}
div.upload div#container input{
	border-radius: 5px;
	padding: 5px;
}
div.upload div#container input.upload{
	background-color: #2B2B2B;
	color: #F6F6F6;
	width: 100px;
	font-size: 15px;
}
div.upload div#container label{
	font-size: 15px;
}
div.upload div#container input.file{
	margin-left: 75px;
}